* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
h1{
    font-size: 60px;
    font-family: 'Edu Tas Beginner';
}
body{

    background-image: url("../img/cork.png");
    
}

figcaption {
    margin-left: 15px;
    font-family: 'Sometype Mono';
}

h2{
    margin-left: 15px;
    font-family: 'Sometype Mono';
}



/* HEADER */

header{
    background-image: url("../img/wall.png");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

/* MAIN */

main{

    display: flex;
    justify-content: center;
    
    

}

#card_container {

    width: 60%;
    height: 600px;
    /* background-color: blue; */
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    
}

.cards{

    background-color: white;
    width: 350px;
    margin-top: 20px;
    height: 370px;
    transition: transform 0.3s ease; /* Transizione per l'animazione fluida */
    perspective: 1000px; /* Per dare l'effetto 3D */

}

.image_container {
    position: relative; 
    width: 350px; 
    height: 300px;
}

.image_size {
    width: 100%; 
    height: 100%; 
    padding: 15px;
}

.pin {
    position: absolute; 
    top: -15px; /*  Sposta il pin sopra l'immagine  */
    left: 50%;
    transform: translateX(-50%); /* Centra il pin orizzontalmente */
    width: 30px; 
    height: auto; 
    z-index: 10; /* Assicura che sia sopra l'immagine */
}



.cards:hover {
    transform: rotate(30deg); 
    cursor: pointer;
    box-shadow: 5px 5px rgba(0, 0, 0, 1);
}

.cards:hover .pin{
    display: none;
}


/* POP UP */


#popUp {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;     
}

#chiudere_pop_up{
    
    height: 30px;
    cursor: pointer;
    width: 100px;
    font-size: 20px;
    margin: 20px ;
    background-color: rgb(47, 191, 235);
    border-radius: 20px;
}

.hidden{
    display: none;
}

#immagine_pop_up{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    
}

#immagine_pop_up img{
    width: 100%;
}


/* Media query per ridurre la dimensione del font dell'h1 su schermi piccoli */

@media (max-width: 576px) {
    h1 {
        font-size: 40px; /* Riduce la dimensione del testo per schermi più piccoli */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 30px; /* Ulteriore riduzione per schermi molto piccoli */
    }
}