* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
h1{
    font-size: 60px;
}
/* HEADER */

header{
    background-color: rgb(209, 210, 210);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

/* MAIN */
